<?xml version="1.0"?>
<launch>
<rosparam command="load" file="$(find rover26_localization)/config/ekf_params.yaml" />
<node name="ara_gaz" pkg="rover26_localization" type="ara_gaz.py" output="screen"></node>
<node name="ublox_odom" pkg="rover26_localization" type="ublox_odom.py" output="screen"></node>

<include file="$(find liorf)/launch/include/module_robot_state_publisher.launch" />
<node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_odom" clear_params="true"/>
<node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" clear_params="true" output="screen" >
     <!-- <remap from="odometry/filtered" to="odometry/filtered_map"/> -->   
     <remap from="gps/fix" to="/gps/fix"/>
     <!-- <remap from="imu/data" to="/clap/ros/imu"/> -->
</node>
<node name="odom_to_map" pkg="tf" type="static_transform_publisher" args="-0.1 0.1 0.0 0.0 0.0 0 map odom 200" />

<node name="base_to_gnss" pkg="tf" type="static_transform_publisher" args="-0.1 0.1 0.0 0.0 0.0 0 base_link GNSS_INS/gnss_ins_link 200" /> 
<node name="base_to_gps" pkg="tf" type="static_transform_publisher" args="-0.1 0.1 0.0 0.0 0.0 0 base_link gps 200" /> 
<node name="odom_to_os" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0.0 0 base_link os_sensor 200"/> 


</launch>
